body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.screen {
    height: 100vh;
}

.login-panel {
    padding: 10px;
    border: 2px solid #aa1111;
    background-color: #808080;
    margin-bottom: 10px;
    height: 89px;
}

.input-groups {
    padding-left: 0;
}

.input-groups > h3 {
    margin-top: 0;
    color: black;
}

.input-groups > input {
    margin-top: 10px;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 5px;
}

.form-login {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
    background-color: #222;
    border: 2px solid #aa1111;
}

.form-login > h2 {
    margin-top: 0;
    text-align: center;
    color: white;
}

input[type="password"] {
    width: 100%;
    margin-left: 2px;
    background-color: #808080;
    border: none;
    border-bottom: 2px solid #aa1111;
    color: #000;
}

input[type="password"]:focus {
    background-color: #808080;
    border: none;
    border-bottom: 2px solid #aa1111;
    color: #000;
    outline: 0px !important;
}

input[type="password"]::-webkit-input-placeholder {
    color: #606060;
}

#username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#password {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.btn-danger {
    color: #aa1111;
    background-color: #aaa;
    border: 2px solid #aa1111;
    margin-bottom: 15px;
}

.btn-danger:hover {
    color: white;
    background-color: #aa1111;
    border: 2px solid #aa1111;
}

.control-buttons {
    color: #808080;
    border: 1px solid #222;
}

.control-buttons:hover {
    color: #aa1111;
    border: 1px solid #aa1111;
    border-radius: 5px;
}
